h1{
    text-align: center;
    color: cadetblue;
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.texto{
    text-align: end;
    color: cyan;
    font-family: fantasy;
    font-size: 30px;
}